extends ../base.pug

block content
    div#signup
        div.oblique-box-wrapper-1
            div.oblique-box-content-1
                h1 Welcome to <br>Nodepayment
                br 
                p The web service to test different payment gateways!
        div.signup-wrapper
            div.signup-content
                #user
                if loggedIn
                    p Welcome to our service, 
                        a(href=`/users/${currentUser._id}`)= " " + currentUser.name.first + " " + currentUser.name.last
                        div.text-center
                            a(class="btn btn-primary" href="/users/checkout" role="button") Checkout
                    br 
                else
                    p Please login to our service, if you're registered! If you don't have an account yet, you are most welcome to create one!
                    <a class="btn btn-primary" href="/users/login" role="button">Login</a>  
                    <a class="btn btn-outline-primary" href="/users/signup" role="button">Signup</a>
                br 
                br
                br 
                br 
                br
        div.oblique-box-wrapper-2
            div.oblique-box-content-2
                p 