extends ../base.pug

block content
    div#login
        div(class="col-md-6 mx-auto border mt-4 pt-3 white box-white")
            div(class="text-center")
                h2 Login to your account!
            form(action="/users/login" method="post" name="login" autocomplete="off")
                div(class="input-group")
                    <input type="email" name="email"  class="form-control my-input" id="email" placeholder="Email" required>
                br
                div(class="input-group")
                    <input type="password" name="password"  class="form-control my-input" id="password" placeholder="Password" required>
                br
                div(class="text-center")
                    <button type="submit" class="btn btn-success send-button tx-tfm">Login</button>
                div(class="col-md-12 ")
                    hr(class="hr-or")
                div(class="text-center")
                    p Don't have an account? Please <a href='../signup'>signup</a> to create a new account!